<%- include('layout/header') %>

<main>
  <h1>contact page...</h1>
  <form action="/contact" method="post">
    <label for="">Enter your name</label>
    <input type="text" name="myname" id="" />
    <label for="">Enter your profession</label>
    <input type="text" name="profession" id="" />
    <label for="">Enter your age</label>
    <input type="text" name="age" id="" />
    <button type="submit">submit</button>
  </form>
</main>

<%- include('layout/footer') %>
